MAX_PLAYERS=10
DISCORD_WEBHOOK_URL=
DISCORD_SERVER_START_TITLE="Server Started"
DISCORD_SERVER_START_ENABLED=true
DISCORD_SERVER_STOP_MESSAGE="Server drove off a cliff"
DISCORD_SERVER_START_MESSAGE="**World:** $${world_name}\n**GameID:** $${gameid} - $${join_string}"
WORLD_NAME="CoreKeeper with Friends"
GAME_ID=